<section  class="container">
    <h1>Ejercicio 2</h1>
    <div class="input-group mb-3">
        <app-agregar-tarea [agregarTareasRecibidas]="tareas"></app-agregar-tarea>
    </div>
    <section>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Tarea</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                @for (tarea of tareas; track $index) {
                    <tr>
                        <td>
                            {{contador + $index}}
                        </td>
                        <td [class.completada]="tareaCompletada[$index]">
                            <span>{{tarea}}</span>
                        </td>
                        <td>
                            <button (click)="cambiarEstado($index)" class="btn btn-warning">Completada</button>
                        </td>
                        <td>
                            <app-eliminar-tarea [eliminarTareaRecibida]="tareas" [recibirIndex]="$index"></app-eliminar-tarea>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>

